<section class="section">

  <section class="container">

    <div class="columns is-multiline">
      <% products.each do |product| %>
        <div class="column is-4">
          <div class="card product-item is-shadowless">
            <div class="card-image">
              <figure class="image">
                <%= link_to product do %>
                  <% if product.cover_image.attached? %>
                      <%= image_tag(product.cover_image.variant(resize: '430x290'))  %>                
                  <% else %>
                    <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Placeholder image">
                  <% end %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4 class="is-size-6"><%= product.vendor.title %></h4>
                <p><%= link_to product.name, product,class: "has-text-dark" %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

   


      

      </div>

    </div>
  </section>
</section>