google_app_id: 'your app id'
google_app_secret: 'you app secret'

mailgun_username: "mailgun_user_name"
mailgun_password: "mailgun_password"

line_channel_id: "line_channel_id"
line_channel_secret_key: "line_channel_secret_key"

